.navbar{
    /* border-bottom: solid 4px #3291A5; */
    box-shadow: 0 3px 6px #3291a4;
}

.nav-link{
    font-size: 24px;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(50,146,165,0.7) , rgba(50,146,165,0.7)) , url(../images/mountains.jpg);
    background-position: center;
    background-size: cover;
}

.author img{
    margin-top: -80px;
    margin-left: 65px;
}